<div class="outer_player">
  <h1>Thanks for keeping your information up to date!</h1>
  <div class="center">

    <h3 class="white">Please make any necessary edits below:</h3>

    <%= render partial: 'players/form', locals: { player: @player } %>
    <%= button_to "Remove This Player", @player, method: :delete, data: { confirm: "Are you sure?" }, class: 'player' %>
  </div>
</div>