<div class="outer_player">
  <h1>Thanks for choosing to join the team!</h1>
  <div class="center">

    <h3>Please provide the information below:</h3>

    <%= render partial: 'players/form', locals: { player: @player } %>
  </div>
</div>
