.home_base {
  @include outer-container;
  @include background(radial-gradient(#A9D0F5, #fff ) left repeat);
  padding: 40px 0px 40px 0px;
}

.left_home {
  @include span-columns(3);
    @include shift(1);
}

.wide_home {
  @include span-columns(7);
  text-align: center;
}

.wide_home_left {
  @include span-columns(3 of 7);
  margin: 30px 5px 0px 50px;
  text-align: center;
}

.wide_home_right {
  @include span-columns(3 of 7);
  text-align:center;
  margin: 30px 0px 0px 20px;
}

img.narrow {
  margin-left: 30px;
  vertical-align: middle;
}

h1.home_blue {
  font-size: 2em;
  padding: 35px 0px 0px 0px;
  margin-bottom: 15px;
  text-align: center;
  color: $dark-blue;
}

.buttontop_heavy {
  width: 175px;
  margin-top: 15px;
}

.buttonmain {
  width: 175px;
  margin-bottom: 25px;
}


