
h1 {
  font-size: 2em;
  padding-top: 25px;
  text-align: center;
  color: #fff;
}

.white {
  color: #fff;
}

.blue {
  color: $dark-blue;
}

.outer_player {
  @include outer-container;
  @include background(radial-gradient(#084B8A, #A9D0F5) left repeat);
};

.outer_player1 {
  @include outer-container;
  @include background(linear-gradient(#A9D0F5, #fff ) left repeat);
};


.center {
  @include span-columns(4);
    @include shift(4);
  padding-bottom: 30px;
}

.players {
  width: 75%;
  margin-left: 50px;
}
.narrow {
  width: 120px;
  text-align: center;
}

.wide {
  width: 200px;
}

.wider {
  width: 275px;
}

.plain {
  list-style-type: none;
  display: inline;
}

.shifted {
  text-align: center;
  padding-bottom: 40px;
}