
h1 {
  font-size: 2em;
  padding-top: 25px;
  text-align: center;
  color: #fff;
}

input {
  width: 100%;
  margin-bottom: 25px;
}

.outer_player {
  @include outer-container;
  @include background(radial-gradient(#084B8A, #A9D0F5) left repeat);
};

.center {
  @include span-columns(4);
    @include shift(4);
}

.players {
  width: 75%;
  margin-left: 50px;
}
.narrow {
  width: 60px;
}

.wide {
  width: 200px;
}

.wider {
  width: 250px;
}

.plain {
  list-style-type: none;
  display: inline;
}

.shifted {
  text-align: center;
  padding-bottom: 50px;
}