.home_base {
  @include outer-container;
  padding: 40px 0px 40px 0px;
}

.wide_home {
  @include span-columns(7);
  text-align: center;
}

.right_home {
  @include span-columns(3);
}

h1 {
  font-size: 2em;
  padding: 5px 0px 5px 0px;
  text-align: center;
  color: #21316E;
}

input {
  width: 175px;
  margin-bottom: 25px;
}
