.home_base {
  @include outer-container;
  padding: 40px 0px 40px 0px;
}

.wide_home {
  @include span-columns(5);
    @include shift(1);
  text-align: center;
}

.right_home {
  @include span-columns(5);

  img {
    margin-top: 20px;
    border: solid $dark-blue 5px;
    max-width: 100%;
  }
}

h1.blue {
  font-size: 2em;
  padding-top: 5px;
  text-align: center;
  color: $dark-blue;
}

h2.blue {
  font-size: 1em;
  padding-bottom: 30px;
  text-align: center;
  color: $dark-blue;
}


input#user_name,
     #user_email,
     #user_password,
     #user_password_confirmation,
     .btn {
  width: 60%;
  margin-bottom: 25px;
}
