.users_base {
  @include outer-container;
  @include background-image(asset-url('blue_texture2.jpg'));
  padding: 40px 0px 40px 0px;
}

.left_users {
  @include span-columns(6);
    @include shift(1);
  text-align: center;
}

.right_users {
  @include span-columns(4);

  img {
    margin-top: 10px;
    display: inline-block;
    border: solid $dark-blue 5px;
    max-width: 100%;
  }
}

h1.white {
  font-size: 2em;
  padding-top: 5px;
  text-align: center;
  color: #fff;
}

h2.blue {
  font-size: 1em;
  padding-bottom: 30px;
  text-align: center;
  color: $dark-blue;
}

